@import "nullstyle.scss";
html{
    overflow-x: hidden;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 24px;    
    overflow-x: hidden;
    min-width: 320px;
}

.container{
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

//---------------------//HEADER//---------------------//
.header{
    position: relative;   
    padding-top: 40px;  
    font-size: 28px; 
    background:url(../images/bg-tree.png) top right no-repeat,
               url(../images/bg-house.png) bottom right no-repeat;
           
}

.header__inner{
margin-right: 170px;
}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center ; 
    margin-bottom: 35px;
    
  
}
.header__top-title{
    color: #979797;
}

.header__top-phone{
    padding-left: 40px;
    position: relative;
    transition: all .5s;
    a{
        color: #006cff;
        &::before{
            content: "";
            width: 18px;
            height: 18px;
            background-image: url(../images/phone.png);
            background-repeat: no-repeat;
            background-position: left center;
            background-size: contain;
            position: absolute; 
            left: 0;
            bottom: 5px;
        }
        &:hover{
            color: #4090ff;
            &::before{
                background-image: url(../images/phone_hover.png);
            }
        }   
    }
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menu__btn{
    width: 40px;
    height: 30px;
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;   
    & span{
        display: block;
        height: 2px;
        width: 40px;
        background-color: #000000; 
        position: absolute; 
        right: 10px;
        top: 24px;
    }

    &::after,
    &::before{
        content: "";
        position: absolute;
        width: 40px;
        height: 2px;
        background-color: #000000;
        right: 10px;
    }
    &::before{
        top: 10px;
    }

    &::after{
       top: 38px; 
   }
}   
.menu__list{
    display: flex;  
}

.menu__list-item+.menu__list-item{
    padding-left: 25px;
}

.menu__list-link{
    color: #006cff;
    transition: all .3s;
    &:hover{
        color: #4090ff;
    }
}
.header__consultation-btn{
    color: #000000;
    font-size: 20px;
    padding: 5px 10px;
    border: 1px solid #006cff;
    border-radius: 10px;
    transition: all .3s;
    &:hover{
        background-color: #d9e9ff;
        color: #1176ff;
    }
}



//Top
.top__content{  
  position: relative;
  margin-bottom: 70px;
}

.top__content-title{
    font-size: 88px;
    font-weight: 700;   
    max-width: 650px;
    line-height: 1.2; 
}

.top__content-text-1,.top__content-text-2{
    padding: 15px;
    background-color: #fed56d;
    font-size: 40px;
    font-weight: 700;   
    position: absolute;
    transform: rotate(-5deg);
}
.top__content-text-1{
    left: 300px;
    bottom:  40px;
}
.top__content-text-2{
    bottom:-40px;
    left: 306px;
}

.top__center{
    max-width: 805px;
    margin-bottom: 40px;
}

.top__center-row{
    display: flex;
    justify-content: space-between;
}

.top__center-text{
    padding: 0 10px;
    font-size: 24px;
    color: #313131;
    margin-bottom: 30px;
    &:last-of-type{
        margin: 0;
    }
}

.top__input{
    display: flex;
    margin-bottom: 80px;
}   

.top__input div {
    max-width: 345px;  
    width: 100%;
    height: 65px;
    margin: 0 30px 0 10px;
    &:last-of-type{
        margin-right: 0;
    }
}

.top__input div input{
    width: 100%;
    height: 100%;
    font-size: 26px;
    border-radius: 8px;
  
    &::placeholder{
        color: #767676;
        font-size: 26px;        
    }
}



.top__input-name{
    border: 1px solid   #c7c7c7;
    padding: 0 20px;
}
.top__input-phone{
    border: 1px solid   #c7c7c7;
    padding-left: 60px;
    &::placeholder{
        padding: 25%;
    }
}
.phone{
    position: relative;
}
.phone__code{
    position:absolute;
    top:20px;
	left: 30px;
	font-size:26px;
	color:#000000;
}


.top__input-submit{
    cursor: pointer;
    background-color: #fc5f20;
    color: #ffffff;
    transition: all .3s;
    &:hover{
        background-color:#ef4602;
    }
}

//---------------------//POPULAR-PROJECTS//---------------------//
///---left---///
.popular-projects{
    margin-bottom: 80px;
}

.popular-projects__title{
font-size: 48px;
font-weight: bold;
line-height: 1.2;
max-width: 830px;
margin-bottom: 60px;
}

.popular-projects__content{
    display: flex;
    margin-bottom: 10px;   
}

.popular-projects__content-column-left{
    max-width: 760px;
    width: 100%;
    padding-right: 45px;
    border-right : 1px solid   #c7c7c7;
  
}



.column-left__block{
    padding: 20px;
    border: 1px solid   #c7c7c7;
    border-radius: 5px;
    margin-bottom: 20px;
    &:last-of-type{
        margin-bottom: 0;
    }
}

.column-left__block-row-1,.column-left__block-row-2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.column-left__block-row-2{
    margin-bottom: 40px;
}

.column-left__block-title, .column-left__block-price{
    font-weight: 700;
    font-size: 28px;
}

.column-left__block-title{
    color: #e2551d;
}

.column-left__block-element, .column-left__block-text{
    font-size: 20px;
    margin-right: 30px;
}
.column-left__block-element{
    color: #838383;
    margin-bottom: 15px;
}

.column-left__block-application-btn{
    display: inline-block;
    color: #000000;
    font-size: 20px;
    padding:  15px 20px; 
    border: 1px solid #006cff;
    border-radius: 10px;
    transition: all .3s;
    margin-bottom: 30px;
   
    & a{
        
        color: inherit;
    }
    &:hover{
        background-color: #d9e9ff;
        color: #1176ff;
    }
}
.slider__inner{
    position: relative;
    overflow: hidden;
    margin: 0 -20px;   
}

.slider{
    max-width: 760px;
    margin: 0 -20px;   
    }
    
.slider__item-img{
    padding: 0 8px;
    width: 380px;
    height: 280px;     
    object-fit: cover;
}


.slider__prev-arrow,
.slider__next-arrow{
    position: absolute;
    padding: 10px;
    bottom: 50%;
    cursor: pointer;
    background-size: contain;
    transition: all .5s;
    background-size: contain; 
    &::before{
        transition:  all .3s;
        content: "";
        width: 350px;
        height: 280px; 
        position: absolute;
        top:-120px;
    }
}

.slider__prev-arrow{
 
    background-image: url(../images/angle-left-solid.svg);
    left: 5px;
    &:hover{
        background-image: url(../images/angle-left-solid-hover.svg);
    }
    &::before{
        left: -5px;
    }
    
}
.slider__next-arrow{
   
   background-image: url(../images/angle-right-solid.svg);
   right: 5px;
   &:hover{
    background-image: url(../images/angle-right-solid-hover.svg);
            &::before{
            opacity: 0;
            }
    }   
    &::before{
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 100%);
        right: -6px;
    }
}

///---right---///

.popular-projects__content-column-right{
    max-width   : 300px;
    width: 100%;
    margin-left: 30px;
    
    & form div{
        max-width: 300px;
    }   

    & .top__input-submit   {
        height: 65px;
        background-color: #ffffff;
        color: #000000;
        border: 1px solid #fc5f20;
        text-align: center;
        &:hover{
            background-color: #ffe7de;
            color: #fc5f20;
        }
    }
    & .btn{
        margin-top: 30px;
    }
}

.column-right__title{
    margin-bottom: 20px;
}

.column-right__text{
    font-size: 18px;
    margin-bottom: 10px;
}
///Select///
.select {
    position: relative;
    margin-bottom: 20px;
    width: 300px;
}

.select__header {
	border: 1px solid #c7c7c7;
	cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 8px;
    height: 60px;   
    padding-left: 10px;
}
.select__current {
	font-size: 18px;
	padding: 8px;
}
.select__icon {
	align-items: center;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	height: 12px;
    margin-left: auto;
    margin-right: 15px;
	text-align: center;
    width: 12px;
    background-image: url(../images/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.select__body {
    border: 1px solid  #c7c7c7;
    border-radius: 8px;
    background-color: #ffffff;
	border-top: 0;
	display: none;
	left: 0;
	position: absolute;
    right: 0;
    z-index: 5;
    top: 100%;
}
.select__item {
	cursor: pointer;
	font-size: 16px;
	line-height: 24px;
	padding: 8px;
}

.select__item:hover {
	background-color: #f2f2f2;
}

.is-active .select__body {
    display: block;
}
.is-active .select__icon{
    background-image: url(../images/up-arrow.svg);
}
/////polzynki//////

.switch{
    margin-bottom: 30px;
}

.checkbox {
    display: none;
}



.checkbox__label{
    cursor: pointer;
    position: relative;
    padding-left: 75px;

    &::after{
        content: "";
        position: absolute; 
        width: 60px;
        height: 30px;
        left: 0;
        top: 0; 
        border: 1px solid #c7c7c7;
        border-radius: 15px;
        
    }

    &::before{
        content: "";
        width: 28px;
        height: 28px;
        border-radius: 50%;
        position: absolute;
        left: 2px;
        top: 1px;
        background-color: #cecece;
        transition: all 0.5s;
    }
}

    .checkbox__label:hover::before{
    background-color: #939393;
}

    .checkbox:checked + .checkbox__label::before{
        left: 30px;
        top: 1px;
        background-color: #fc5f20;
    }


//---------------------//LAST-PROJECTS//---------------------//

.last-projects__content{
    margin-bottom: 100px;
}

 .last-projects__title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
 }

 .last-projects__subtitle{
    color: #fc5f20;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 30px;
 }
 .last-projects__text{
     font-size: 24px;
     margin-bottom: 20px;
 }

 //Last-slider  
 .last-slider__inner{
     position: relative;
     margin-bottom: 70px;  
    
 }

 .last-slider{
     margin-left:   -15px;
     margin-right: -600px;

 }
 .last-slider__item{
     padding: 0 15px;
   
 }

 .last-slider__item-img{   
    object-fit: cover;
        width: 555px;
        height: 440px;
 }


 .slick-active + .slick-active + .slick-active {
    opacity: 0.3;
 }

 .last-slider__prev-arrow,
 .last-slider__next-arrow{
    position: absolute;
    height: 4px;
    width: 4px;
    padding: 12px;
    bottom: 50%;
    cursor: pointer;
    background-size: contain;
 }

 .last-slider__prev-arrow{
    background-image: url(../images/angle-left-solid.svg);
    left: 5px;

}
.last-slider__next-arrow{
    background-image: url(../images/angle-right-solid.svg);
    right: -100px;
}
.slick-disabled {
    display: none !important;
  }

/////////
.info{
    margin-bottom: 80px;
}
.info__title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 70px;
}

.info__content{
    display: flex;  
    align-items: center;
    margin-bottom: 20px;
}

.info__img{
    width: 360px;
    height: 330px;
    object-fit: cover;
}
.info__block-text{
    padding: 0 35px;
}
.info__text-title{
    font-size: 28px;
color: #fc5f20;
font-weight: bold;
margin-bottom: 30px;
}

.info__text{
    font-size: 24px;
    margin-bottom: 25px;
}

////
.plan{
    margin-bottom: 80px;
}
.plan__title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;  
    line-height: 1.2;  
}
.plan__block{
    background-color: #f5f5f5;
    padding: 35px 40px;
}

.plan__content{
    display: flex;
    align-items: center ;
    border-bottom: 1px solid #c7c7c7;
    &:last-of-type{
        border-bottom: 0;
    }
}

.plan__num{
    padding: 60px 35px;
    font-size: 144px;
    color: #ffffff;
    text-shadow: #000000 0px 0px 3px;
    font-weight: bold;
}

.plan__block-text{
    margin-left: 30px;
    & div{
        display: inline-block;
        margin-left: 15px;
    }
}

.plan__text-title{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
}

.plan__text{
    font-size: 24px;
    line-height: 1.5;                    
}

////////
.footer__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__title{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 55px;  
    line-height: 1.2;  
}

.footer__top-phone{
    padding-left: 50px;
    position: relative;
    transition: all .3s;
    margin-bottom: 40px;
    a{
        font-size: 45px;
        color: #006cff;
        &::before{
            content: "";
            width: 25px;
            height: 25px;
            background-image: url(../images/phone.png);
            background-repeat: no-repeat;
            background-position: left center;
            background-size: contain;
            position: absolute; 
            left: 0;
            bottom: 5px;
        }
        &:hover{
            color: #4090ff;
            &::before{
                background-image: url(../images/phone_hover.png);
            }
        }   
    }
}
.vertical{
    margin-bottom: 40px;
    display: block;
    & div{
        margin: 0 0 15px 0;
    }
}
.footer__inner .top__input-name{
        text-align: center;
    }

.politica{
    font-size: 14px;
    color: #b8b8b8;
    text-decoration: underline  ;
    padding-bottom: 10px;
}



@media(max-width:1400px){
    
 .last-slider{
    margin-right: -450px;
 }
.last-slider__item-img{   
       width: 500px;
       height: 400px;
}

.last-slider__next-arrow{
   right: 5px;
}

}

@media(max-width:1100px){
    .header{
        padding-top: 20px;
        background:none;
    }
    .header__inner{
        margin-right: 0px;
        }
    .popular-projects__content{
        flex-direction: column;
    }
    .popular-projects__title{
        margin:  0 auto 15px;
    }
    .popular-projects__content-column-left{
        padding: 0;
       margin: 0 auto   ;
        border-right :0;
    }
    .popular-projects__content-column-right{
        margin: 0 auto;
        margin-top: 10px; 
    }
    ////////
    .slider__inner{
        margin: 0;
    }
    
    .slider{
        margin: 0  -20px   
        }
        
    .slider__item-img{
        padding: 0 8px;
        width: 380px;
        height: 280px;     
        object-fit: cover;
    }
    //////////
    .last-slider__inner{
        overflow: hidden;
    }
    .last-slider{
        margin-right: -15px;
     }
    .last-slider__item-img{   
           width: 505px;
           height: 405px;
    }
    
    .last-slider__next-arrow{
       right: 5px;
    }
    
}

@media(max-width:1024px){
    .header__top-phone{
        padding-left: 25px;
        a{
            &::before{
                content: "";
                width: 14px;
                height: 14px;
        }
    }
}

    .top__content-text-1,
    .top__content-text-2{
        font-size: 24px;
    }
    .top__content-text-1{
        bottom: 40px;
    }
    .top__content-text-2{
        bottom:-20px;
        left: 305px;
    }
    .header__inner{
        font-size: 22px;
    }

    .menu__list-item+.menu__list-item{
        padding-left: 20px;
    }

    .top__input-phone{
        padding-left: 35px;
        &::placeholder{
            padding: 20%;
        }
    }
    .phone__code{
        left: 7px;
    }
    .header__top{
        margin-bottom: 15px;
    }
    ///@
        .last-projects__content,
    .last-slider__inner{
        margin-bottom: 40px;
    }
    .last-slider__item-img{    
    width: 445px;
    height: 350px;
 }
 //////
 .plan__block-text{
     margin: 0;
 }
 .plan__text{
     font-size: 20px;
 }


}

@media(max-width:900px){
    .last-slider__item-img{    
    width: 375px;
    height: 280px;  
    }

//////
    .info__text-title{
        font-size: 24px;
    }
    .info__text{
        font-size: 20px;
    }
    ////
    .plan__block-text{
        margin-left: 30px;
        & div{
            display: block;
            margin:15px 0;
        }
    }    
}   

@media(max-width:767px){
    .menu__btn{
        display:block ;
    }
    .header__content{
        height: 0;
        opacity: 0;
       display: flex; 
       flex-direction: column;
       align-items: center;
       justify-content: flex-start;
    }
    .menu__list{
        opacity: 1;
        flex-direction: column;
        align-items: center ;
    }
    
    .menu__list-item+.menu__list-item{
        padding: 10px   0;
    }
    .menu__list-item{
        padding: 10px 0 ;
    }

    .active{
        opacity: 1;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        opacity: 1;
        width: 100%;
        height: 90%;
        z-index: 6;
        background-color: #fff;
        transition-duration: all 1s;
    }
    .header__consultation{
        margin-top: 10px;
    }
    .header__inner{
        margin-right: 60px;
        }

    .header__top{
        font-size: 18px;
    }

    .header__top-phone{
        padding-left: 25px;
        a{
            display: block;
            width: 0px;
            height: 0;
            overflow: hidden;
            &::before{
                content: "";
                width: 18px;
                height: 18px;
                left: 0px;
                top: 0px ; 
            }
        }
    }
    .top__content{
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center ;
    }
    .top__content-title
    {
        max-width: 100%;
        text-align: center  ;
        font-size: 55px;
        margin-bottom: 10px;
    }
    .top__content-text-1,
    .top__content-text-2{
        max-width: 100%;
        width: 100%;
        text-align: center;
        font-size: 20px;
        position: static;
        display: block;  
        transform: rotate(0);    
    }

    .top__center-row{
        flex-wrap: wrap;
    }
    .top__center-column{
        width: 100%;
        margin-bottom: 20px;
        &:last-of-type{
            margin-bottom: 0;
        }
    }
    .top__input  {
        margin: 0 auto;
       max-width: 320px;
       width: 100%;
        display: block;
        & div {
            width: 300px;
            padding: 0;
            margin: 0 0 15px;
        }
    }
    

    //
    .title{
        font-size: 36px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .column-left__block-title,
    .column-left__block-price{
        font-size: 20px;    
    }         
    .column-left__block-element,
    .column-left__block-text{
        font-size: 18px;
    }    
    .slider__prev-arrow,
    .slider__next-arrow{
         &::before{
            display: none;
         }
     }
    .slider__item-img{
        margin: 0 auto;
    }
    
    /////
    .last-projects__subtitle{
        font-size: 20px;    
    }
    .last-projects__text{
        font-size: 18px;    
    }
    .last-slider__item-img{    
    width: 450px;
    height: 350 px;
    margin: 0 auto  ;
}
    .last-projects__content,
    .last-slider__inner{
        margin-bottom: 20px;
    }
    .slick-disabled {
        display:block;
      }
   /////
   .info{
       margin-bottom: 30px;
   }
    .info__content{
        flex-direction: column;
    }
    .info__img{ 
        width: 400px;
        height: 370px;
        margin-bottom: 20px;
    }
    .info__text-title{
        text-align: center;
        margin-bottom: 10px;
    }
    .info__text{
        margin-bottom: 10px;
    }
    ////
    .position{
            a{
                display: block;
                width: auto;
                height: auto;
                overflow: visible;
                &::before{
                    width: 15px;
                    height: 15px;
                   top: 2px;
            }
    }
}
    .plan__block-text{
        margin-left: 0px;
        & div{
            display: block;
            margin:15px 0;
        }
    }
    .plan__num{
        font-size: 112px;   
    }
    .plan__text-title{
        font-size: 24px;
        margin-bottom: 10px;    
    }
    .plan__text{
        font-size: 18px; 
    }
    .header__top-phone-number{
        font-size: 20px;
    }

    /////\
    .top__input div {
        max-width: 345px;  
        width: 100%;
        height: 50px;
    }
    
    .top__input div input{
        font-size: 20px;
        &::placeholder{
            font-size: 20px;
        }
    }
    .top__input-phone{
        padding-left: 60px;
    }
    .phone__code{
        font-size: 20px;
        top:15px;
        left: 35px;
        
    }   
}
@media(max-width:500px){
    .header__top-title{
        max-width: 200px    ;
    }
    .header__top-phone{
        a{
           
            &::before{
                left: 0px;
                top: -10px; 
            }
        }   
    }
  
    .top__content-title{
        font-size: 48px;    
    }

   .top__center-text{
       font-size: 20px;
   }
   ///
   .title{
       font-size: 24px;
       text-align: center   ;
   }

   .column-left__block-row-1,
   .column-left__block-row-2{
       flex-direction: column;
       margin-bottom: 20px;
   }
   .column-left__block-title,
    .column-left__block-price{
        font-size: 18px;    
    }
    .column-left__block-title{
        margin-bottom: 10px ;
    }
   .column-left__block-element{
       margin-bottom: 5px;
       font-size: 16px;
   }
   .column-left__block-text{
       margin-bottom: 20px;
       font-size: 16px; 
   }
   .last-slider__item-img{    
    width: 320px;
    height: 200 px;
    margin: 0 auto  ;   
}
///
.info__img{ 
    width: 310px;
    height: 280px;  
}
.info__block-text{
    padding: 0;
}
.info__text-title{
    font-size: 20px;
}
.info__text{
   font-size: 16px;
}
////
.position{
    a{
        &::before{
           width: 12px;
           height: 12px;
            top: 3px;
        }
}
}
.plan__block{
    padding: 5px 10px;
}
.plan__block-text{
    padding: 10px 0;
}
.plan__num{
    font-size: 100px;  
    padding: 30px 15px;
}
.plan__text-title{
    font-size: 18px;
   
}
.plan__text{
    font-size: 15px; 
}
.header__top-phone-number{
    font-size: 18px;
}
.header__consultation-btn{
    font-size: 18px;
}

//////
.footer__top-phone{
    padding-left: 30px;
    a{
        
         font-size: 28px;
         &::before{
             width: 17px;
             height: 17px;  
         }
    }
}
/////

}
