@import "nullstyle.scss";

.container{
    max-width: 1140px;
    margin: 0 auto;
}
.header{
    margin-top: 40px;  
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    font-size: 28px; 
}

.header__inner{
margin-right: 170px;
}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center ; 
    margin-bottom: 35px;
    
  
}
.header__title{
    color: #979797;
}

.header__phone{
    padding-left: 40px;
    position: relative;
    a{
        color: #006cff;
        &::before{
            content: "";
            width: 18px;
            height: 18px;
            background-image: url(../images/phone.png);
            background-repeat: no-repeat;
            background-position: left center;
            background-size: contain;
            position: absolute; 
            left: 0;
            bottom: 5px;
        }
    }
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menu__list{
    display: flex;  
}

.menu__list-item+.menu__list-item{
    padding-left: 25px;;
}

.menu__list-link{
    color: #006cff;
}
.menu__consultation-btn{
    color: #000000;
    font-size: 20px;
    padding: 5px 10px;
    border: 1px solid #006cff;
    border-radius: 10px;;
}
